@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
    --cor-primaria: #ffffff;
    --cor-secundaria: #171717;
    --cor-terciaria: #DA0037;
    --cor-terciaria-hover:var(--cor-terciaria);
    --cor-quaternaria: #444444;

    --fonte-principal: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 80px; 
    background-color: var(--cor-primaria);
    position: fixed;
}

.header-logo img{
    width: 6rem;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    border-bottom: 1px solid var(--cor-terciaria);
}

.header-menu-item {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
}   

.icon {
    padding-right: 15px;
}

.header-cv {
    width: 10%;
    border: 3px solid var(--cor-terciaria);
    border-radius: 8px;
}

.header-menu-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    width: 100%;
    padding: 10px 0px;
}

.header-menu-cv:hover{
    background-color: #ff668c;
}

.principal {
    padding: 5% 5%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 150px 0px 210px 90px;
    gap: 150px;
}

.home-texto {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home-texto-titulo {
    font-family: var(--fonte-principal);
    font-size: 5rem;
}

.home-texto-titulo-destaque {
    color: var(--cor-terciaria);
}

.home-texto-subtitulo {
    font-family: var(--fonte-principal);
    font-size: 3rem;
}

.home-texto-texto {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    max-width: 900px;
}

.home-redes-icons {
    display: flex;
    gap: 40px;
}

.home-redes-social img {
    width: 40px;
}

.redes-social:hover {
    background-color: var(--cor-terciaria-hover);
}

.redes-social img {
    padding-right: 10px;
    width: 40px;
}

.sobreme {
    display: flex;
    padding: 90px 90px 300px 90px;
    font-family: var(--fonte-principal);
    gap: 50px;
}

.sobreme-conteudo {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 40px;
}

.sobreme-titulo {
    font-weight: 600;
    font-size: 5rem;
    border-bottom: 1px solid var(--cor-terciaria);
}

.sobreme-texto {
    font-size: 1.5rem;
}

.sobreme-skills {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 140px;
}

.sobreme-skills-titulo {
    font-size: 3rem;
    font-weight: 600;
}

.skill-front {
    padding-bottom: 30px;
}

.skill-back {
    padding-bottom: 30px;
}

.sobreme-skill-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sobreme-skill {
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border-radius: 100px;
    width: min-content;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    padding: 24px;
}

.footer a{
    color: var(--cor-primaria);
    text-decoration: none;
}

@media (max-width: 1800px) {
    .home {
        display: flex;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .home-texto {
        gap: 0px;
    }

    .home-redes-icons {
        padding-top: 15px;
    }

    .sobreme {
        padding: 0;
    }

    .sobreme-conteudo {
        width: auto;
    }

    .sobreme-skills {
        width: auto;
    }
}

@media (max-width: 1200px) {
    .header{
        display: flex;
        flex-wrap: wrap;
    }
    
    .header-menu {
        display: none;
    }

    .header-cv {
        width: 30%;
    }

    .home {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 15%;
    }

    .sobreme {
        padding: 0;
       flex-direction: column;
    }

    .sobreme-conteudo {
        width: auto;
    }

    .sobreme-skills {
        width: auto;
    }
}

@media (max-width: 500px) {
    .home-foto-img {
        width: 100%;
    }

}