@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
    --cor-primaria: #ffffff;
    --cor-secundaria: #171717;
    --cor-terciaria: #DA0037;
    --cor-terciaria-hover:var(--cor-terciaria);
    --cor-quaternaria: #444444;

    --fonte-principal: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 80px; 
    background-color: var(--cor-primaria);
    position: fixed;
}

.header-logo img{
    width: 6rem;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    border-bottom: 1px solid var(--cor-terciaria);
}

.header-menu-item {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
}   

.icon {
    padding-right: 15px;
}

.header-cv {
    width: 10%;
    border: 3px solid var(--cor-terciaria);
    border-radius: 8px;
}

.header-menu-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    width: 100%;
    padding: 10px 0px;
}

.header-menu-cv:hover{
    background-color: #ff668c;
}

.principal {
    padding: 5% 5%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 150px 0px 0px 90px;
    gap: 150px;
}

.home-texto {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home-texto-titulo {
    font-family: var(--fonte-principal);
    font-size: 5rem;
}

.home-texto-titulo-destaque {
    color: var(--cor-terciaria);
}

.home-texto-subtitulo {
    font-family: var(--fonte-principal);
    font-size: 3rem;
}

.home-texto-texto {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    max-width: 900px;
}

.home-redes-icons {
    display: flex;
    gap: 40px;
}

.home-redes-social img {
    width: 40px;
}

.redes-social:hover {
    background-color: var(--cor-terciaria-hover);
}

.redes-social img {
    padding-right: 10px;
    width: 40px;
}

.sobreme {
    display: flex;
    padding: 90px 90px 0px 90px;
    font-family: var(--fonte-principal);
    gap: 50px;
}

.sobreme-conteudo {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 40px;
}

.sobreme-titulo {
    font-weight: 600;
    font-size: 5rem;
    border-bottom: 1px solid var(--cor-terciaria);
}

.sobreme-texto {
    font-size: 1.5rem;
}

.sobreme-skills {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 140px;
}

.sobreme-skills-titulo {
    font-size: 3rem;
    font-weight: 600;
}

.skill-front {
    padding-bottom: 30px;
}

.skill-back {
    padding-bottom: 30px;
}

.sobreme-skill-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sobreme-skill {
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border-radius: 100px;
    width: min-content;
    padding-left: 10px;
    padding-right: 10px;
}

.projects-form {
    font-family: var(--fonte-principal);
    padding: 90px 90px 0px 90px;
}

.projects-form-titulo {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 5rem;
    border-bottom: 1px solid var(--cor-terciaria);  
}

.project {
    display: flex;
    padding-top: 50px;
    width: auto;
    gap: 40px;
}

.project-img {
    padding: 20px;
    border-radius: 30px;
    background-color: var(--cor-terciaria);
}

.project-img img {
    width: 40rem;
}

.project-img video {
    width: 40rem;
}

.project-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.titulo-project-titulo {
    font-size: 2rem;
}

.titulo-project-icons {
    display: flex;
    gap: 45px;
}

.titulo-project-deploy {
    font-size: 2rem;
}

.titulo-project a{
    text-decoration: none;
    color: var(--cor-secundaria);

}

.text-project {
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.formacao {
    font-family: var(--fonte-principal);
    padding-top: 80px;
}

.formacao-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--cor-terciaria);
    width: auto;
}

.formacao-title-titulo {
    font-weight: 600;
    font-size: 5rem;   
}

.formacao-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 20rem;
}

.formacao-layout {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.formacao-titulo {
    font-size: 2rem;
}

.formacao-descricao {
    font-size: 1.5rem;
}

.formacao-date {
   font-size: 1.35rem; 
}

.formacao-status {
    font-size: 1.35rem;
    color: var(--cor-terciaria);
}

.contato {
    font-family: var(--fonte-principal);
    padding: 0px 90px 100px 90px;
}

.contato-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.contato-div-titulo {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 5rem;
    border-bottom: 1px solid var(--cor-terciaria);
    width: 60%;
}

.contato-div-texto {
    text-align: center;
    padding-top: 50px;
    font-size: 1.5rem;
    width: 60%;
}

.contato-div-linkedin {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.contato-div-email {
    display: flex;
    padding-top: 60px;
    gap: 30px;
}

.contato-div-email a{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 3rem;
}

.contato-div-email i{
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 3rem;
}

.footer {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    padding: 24px;
}

.footer a{
    color: var(--cor-primaria);
    text-decoration: none;
}

@media (max-width: 1800px) {
    .header {
        height: 60px;
    }

    .header-logo img{
        width: 4.5rem;
    }
    
    .header-menu-item {
        font-size: 1.125rem;
    }

    .header-cv {
        border: 2.25px solid var(--cor-terciaria);
      }

    .header-menu-cv {
        font-size: 1.125rem;
    }

    .home {
        display: flex;
        padding: 0;
        padding-top: 5%;
        padding-left: 5%;
        gap: 50px;
    }

    .home-texto-titulo {
        font-size: 3.75rem;
    }

    .home-texto-subtitulo {
        font-size: 2.25rem;
    }
      
    .home-texto-texto {
        font-size: 1.125rem;
        max-width: 675px;
    }

    .home-redes-icons {
        padding-top: 15px;
    }

    .home-foto {
       zoom: 75%;
    }

    .home-redes-social img {
        width: 40px;
    }

    .sobreme-titulo {
        font-size: 3.75rem;
    }
      
      .sobreme-texto {
        font-size: 1.125rem;
    }
      
      .sobreme-skills {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding-top: 140px;
    }
      
      .sobreme-skills-titulo {
        font-size: 2.25rem;
    }

    .sobreme-skill {
        font-size: 75%;
    }

    .sobreme {
        padding: 0;
        padding-top: 110px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .sobreme-conteudo {
        width: auto;
    }

    .sobreme-skills {
        width: auto;
        padding-top: 70px;
    }

    .projects-form {
        padding: 0;
        padding-top: 60px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .project {
        gap: 30px;
    }

    .projects-form-titulo {
        font-size: 3.75rem;
    }

    .project-img img {
        width: 30rem;
    }
      
    .project-img video {
        width: 30rem;
    }

    .titulo-project-titulo {
        font-size: 1.5rem;
    }

    .titulo-project-deploy {
        font-size: 1.5rem;
    }

    .project-img {
        padding: 15px;
    }

    .text-project {
        font-size: 1.125rem;
    }

    .formacao-title-titulo {
        font-size: 3.75rem;   
    }

    .formacao-titulo {
        font-size: 1.5rem;
    }
      
    .formacao-descricao {
        font-size: 1.125rem;
    }
      
    .formacao-date {
       font-size: 1.0125rem; 
    }
      
    .formacao-status {
        font-size: 1.0125rem;
    }

    .contato {
        padding: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
    }

    .contato-div-titulo {
        font-size: 3.75rem;
    }

    .contato-div-texto {
        font-size: 1.125rem;
    }

    .contato-div-email a{
        font-size: 2.25rem;
    }
      
    .contato-div-email i{
        font-size: 2.25rem;
    }

    .footer {
        font-size: 0.84375rem;
    }
}

@media (max-width: 1200px) {
    .header{
        display: flex;
        align-items: center;
        height: 40px;
    }

    .header-logo img{
        width: 3rem;
    }
    
    .header-menu {
        display: none;
    }

    .header-cv {
        display: flex;
        align-items: center;
        width: 30%;
        height: 2.5rem;
        padding: 0;
        border: none;
    }

    .home {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 15%;
        gap: 10px;
    }

    .home-texto-titulo {
        font-size: 5rem;
    }

    .home-texto-subtitulo {
        font-size: 2rem;
    }

    .home-texto-texto {
        font-size: 1.5rem;
    }

    .sobreme {
        padding: 0;
       flex-direction: column;
    }

    .sobreme-titulo {
        font-size: 3rem;
    }

    .sobreme-texto {
        font-size: 1rem;
    }

    .sobreme-conteudo {
        width: auto;
    }

    .sobreme-skills {
        width: auto;
        padding: 0;
    }

    .sobreme-skills-titulo {
        font-size: 2.0rem;
    }

    .project {
        flex-direction: column;
        padding-bottom: 0;
    }

    .titulo-project-titulo {
        font-size: 1.5rem;
    }

    .formacao-title-titulo {
        font-size: 3rem;
    }

    .text-project {
        font-size: 1rem;
    }

    .sobreme-skill {
        font-size: 1rem;
    }

    .projects-form-titulo {
        font-size: 3rem;
    }

    .project-img {
        display:flex ;
        justify-content: center;
        padding: 15px;
        border-radius: 30px;
        background-color: var(--cor-terciaria);
    }
    
    .project-img img {
        width: 20rem;
    }
    
    .project-img video {
        width: 20rem;
    }

    .formacao-title {
        font-size: 1.6rem;
    }

    .formacao-titulo {
        font-size: 1rem;
        font-weight: 700;
    }

    .formacao-descricao {
        font-size: 1rem;
    }

    .formacao-date {
        font-size: 1rem;    
    }

    .formacao-status {
        font-size: 1rem;
    }

    .contato {
        padding: 0;
    }

    .contato-div-titulo {
        font-size: 3rem;
    }

    .contato-div-texto {
        font-size: 1rem;
        width: auto;
    }

    .contato-div-email {
        display: flex;
        align-items: center;
    }

    .contato-div-email a{
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .home-foto-img {
        width: 100%;
    }

    .home-texto {
        text-align: center;
    }

    .home-redes-icons {
        align-items: center;
        justify-content: center;
    }

    .home-texto-titulo {
        font-size: 2.5rem;
    }

    .home-texto-subtitulo {
        font-size: 1.75rem;
    }

    .home-texto-texto {
        font-size: 1rem;
    }

    .projects-form-titulo {
        font-size: 2.99rem;
        font-weight: 600;
    }

    .formacao-total {
        flex-direction: column;
    }

    .formacao-layout {
        width: auto;
    }

    .formacao-date {
        text-decoration: none;
    }

    .formacao-title-titulo {
        font-size: 3rem;
        font-weight: 600;
    }

    .contato-div-email a{
        font-size: 1.5rem;
    }

}

@media (max-width: 400px) {
    .header-cv {
        width: 50%;
    }

    .home-texto-titulo {
        font-size: 2rem;
    }

    .projects-form-titulo {
        font-size: 2.25rem;
    }
}